---
import Default from "../layouts/Default.astro";
import template from "../template";

const { career } = template;
---

<Default title={career.title}>
  {
    career.content.map((career) => (
      <section class="career">
        <h2 class="career__title">{career.title}</h2>
        <h3 class="career__description">{career.description}</h3>
        <p class="career__content">{career.content}</p>
      </section>
    ))
  }
</Default>

<style>
  .career {
    /* text-align: center; */
    position: relative;
  }

  .career::before {
    content: "";
    position: absolute;
    left: -2rem;
    height: 100%;
    border-left: 0.25rem solid var(--color-primary);
    border-radius: 6px;
  }

  .career__title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  .career__description {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1rem;
    opacity: 0.8;
  }

  .career__content {
    font-size: 1rem;
    font-weight: 400;
  }
</style>
