---
import Default from "../layouts/Default.astro";
import template from "../template";

const { learn } = template;
---

<Default title={learn.title}>
  <section>
    <p>Coming soon...</p>
  </section>
</Default>

<style>
  section {
    text-align: center;
  }
</style>
